@page
@model asp_presentacion.Pages.Ventanas.AdministradoresModel
@{
    ViewData["Title"] = "Administradores";
}

@if (!string.IsNullOrEmpty(ViewData["Error"] as string))
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]!.ToString()
    </div>
}

@if (Model.VentanaActual == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)
{
    <input id="flNombre" class="cts_forms form-control" placeholder="Nombre" />
    <br />

    <div class="containers_vn panel panel-default">
        <table class="tb_data table table-striped table-bordered table-hover">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Role
                </th>
                <th class="cl_actions">
                    Accion
                </th>
            </tr>
            @if (Model.Administradores != null)
            {
                @foreach (var administrador in Model.Administradores)
                {
                    <tr>
                        <td>
                            @administrador.Id
                        </td>
                        <td>
                            @administrador.Nombre
                        </td>
                        <td>
                            @administrador.Role
                        </td>
                        <td class='d-flex gap-3'>
                            <input type="submit" value="Modicar" asp-page-handler="BtModificar" class="btn btn-warning"
                                asp-route-data="@administrador.Id" />
                            <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal" class="btn btn-danger"
                                asp-route-data="@administrador.Id" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
}