@page
@model asp_presentacion.Pages.Ventanas.ClientesModel
@{
    ViewData["Title"] = "Clientes";
}

@if (!string.IsNullOrEmpty(ViewData["Error"] as string))
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
}

@if (Model.VentanaActual == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)
{
    <form method="post">
        <button type="submit" class="btn btn-primary" asp-page-handler="VistaCrear">Crear</button>
    </form>

    <br />

    <div class='d-flex flex-column'>
        <form method="post" class="d-flex gap-3">
            <input name='data' id="flNombre" class="cts_forms form-control" placeholder="Nombre o Documento" />
            <select name="opcion" id="flOpcion" class="cts_forms form-select">
                @foreach (var opcion in Model.opcionesBuscador)
                {
                    <option value="@opcion.Value">@opcion.Key</option>
                }
            </select>
            <input type="submit" value="Buscar" class="btn btn-primary" asp-page-handler="Buscar" />
        </form>
    </div>
    <br />

    <div class="containers_vn panel panel-default">
        <table class="tb_data table table-striped table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Documento</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Tipo Documento</th>
                <th class="cl_actions">Acción</th>
            </tr>
            @if (Model.Clientes != null)
            {
                @foreach (var cliente in Model.Clientes)
                {
                    <tr>
                        <td>@cliente.Id</td>
                        <td>@cliente.Nombre</td>
                        <td>@cliente.Apellido</td>
                        <td>@cliente.Documento</td>
                        <td>@cliente.Direccion</td>
                        <td>@cliente.Telefono</td>
                        <td>@cliente.Correo</td>
                        <td>@cliente._TipoDocumento?.Nombre</td>
                        <td>
                            <form method="post" class='d-flex gap-3'>
                                <input type="submit" value="Modificar" asp-page-handler="VistaModificar" class="btn btn-warning"
                                    asp-route-data="@cliente.Id" />
                                <input type="submit" value="Borrar" asp-page-handler="Borrar" class="btn btn-danger"
                                    asp-route-data="@cliente.Id" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
}

@if (Model.VentanaActual == lib_dominio.Nucleo.Enumerables.Ventanas.Editar || Model.VentanaActual ==
lib_dominio.Nucleo.Enumerables.Ventanas.Crear)
{
    <div class="containers_vn panel panel-default">
        <h3>Cliente: @Model.Cliente?.Nombre</h3>
        <form method="post">
            <input type="hidden" asp-for="@Model.Cliente!.Id" />

            <div class="form-group mt-4">
                <label class="col-lg-4 control-label">Nombre</label>
                <div class="col-lg-6">
                    <input class="cts_forms form-control" asp-for="@Model.Cliente!.Nombre" />
                </div>
            </div>
            <div class="form-group mt-4">
                <label class="col-lg-4 control-label">Apellido</label>
                <div class="col-lg-6">
                    <input type="text" class="cts_forms form-control" asp-for="@Model.Cliente!.Apellido" />
                </div>
            </div>
            <div class="form-group mt-4">
                <label class="col-lg-4 control-label">Documento</label>
                <div class="col-lg-6">
                    <input type="text" class="cts_forms form-control" asp-for="@Model.Cliente!.Documento" />
                </div>
            </div>
            <div class="form-group mt-4">
                <label class="col-lg-4 control-label">Dirección</label>
                <div class="col-lg-6">
                    <input type="text" class="cts_forms form-control" asp-for="@Model.Cliente!.Direccion" />
                </div>
            </div>
            <div class="form-group mt-4">
                <label class="col-lg-4 control-label">Teléfono</label>
                <div class="col-lg-6">
                    <input type="text" class="cts_forms form-control" asp-for="@Model.Cliente!.Telefono" />
                </div>
            </div>
            <div class="form-group mt-4">
                <label class="col-lg-4 control-label">Correo</label>
                <div class="col-lg-6">
                    <input type="email" class="cts_forms form-control" asp-for="@Model.Cliente!.Correo" />
                </div>
            </div>
            <div class="form-group mt-4">
                <label class="col-lg-4 control-label">Tipo Documento</label>
                <div class="col-lg-6">
                    <select asp-for="@Model.Cliente!.TipoDocumento" class="form-select">
                        @if (Model.TiposDocumentos == null || Model.TiposDocumentos.Count == 0)
                        {
                            <option value="">No hay Tipo de documentos disponibles</option>
                        }
                        else
                        {
                            @foreach (var tipoDocumento in Model.TiposDocumentos)
                            {
                                <option value="@tipoDocumento.Id">
                                    @tipoDocumento.Nombre
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Guardar" asp-page-handler=@(Model.VentanaActual ==
                                                                     lib_dominio.Nucleo.Enumerables.Ventanas.Editar ? "Modificar" : "Crear") class="btn btn-primary" />
            <a href="/Ventanas/Clientes" class='btn btn-danger'>Cancelar</a>
        </div>
    </form>
</div>
}