@page
@model asp_presentacion.Pages.Ventanas.NumerosDeSerieModel
@{
    ViewData["Title"] = "NumerosDeSerie";
}

@if (!string.IsNullOrEmpty(ViewData["Error"] as string))
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]!.ToString()
    </div>
}

@if (Model.VentanaActual == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)
{
    <form method="post">
        <button type="submit" class="btn btn-primary" asp-page-handler="VistaCrear">Crear</button>
    </form>

    <br />

    <div class='d-flex flex-column'>
        <form method="post" class="d-flex gap-3">
            <input name='data' id="flNombre" class="cts_forms form-control" />
            <select name="opcion" id="flOpcion" class="cts_forms form-select">
                @foreach (var opcion in Model.opcionesBuscador)
                {
                    <option value="@opcion.Value">@opcion.Key</option>
                }
            </select>

            <input type="submit" value="Buscar" class="btn btn-primary" asp-page-handler="Buscar" />
        </form>

    </div>
    <br />

    <div class="containers_vn panel panel-default">
        <table class="tb_data table table-striped table-bordered table-hover">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Numero de serie
                </th>
                <th>
                    Libro
                </th>
                <th>Estanteria</th>
                <th>
                    Nivel
                </th>
                <th class="cl_actions">
                    Accion
                </th>
            </tr>
            @if (Model.NumerosDeSerie != null)
            {
                @foreach (var NumeroDeSerie in Model.NumerosDeSerie)
                {
                    <tr>
                        <td>
                            @NumeroDeSerie.Id
                        </td>
                        <td>
                            @NumeroDeSerie.NumeroSerie
                        </td>
                        <td>
                            @NumeroDeSerie._Libro?.Nombre
                        </td>
                        <td>
                            @NumeroDeSerie.estanterias
                        </td>
                        <td>
                            @NumeroDeSerie.niveles
                        </td>
                        <td>
                            <form method="post" class='d-flex gap-3'>
                                <input type="submit" value="Modicar" asp-page-handler="VistaModificar" class="btn btn-warning"
                                       asp-route-data="@NumeroDeSerie.Id" />
                                <input type="submit" value="Borrar" asp-page-handler="Borrar" class="btn btn-danger"
                                       asp-route-data="@NumeroDeSerie.Id" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
}

@if (Model.VentanaActual == lib_dominio.Nucleo.Enumerables.Ventanas.Editar || Model.VentanaActual ==
lib_dominio.Nucleo.Enumerables.Ventanas.Crear)
{
    <div class="containers_vn panel panel-default">
        <h3>Numero De Serie: @Model.NumeroDeSerie!.NumeroSerie</h3>


        <form method="post">
            <input type="hidden" asp-for="@Model.NumeroDeSerie!.Id" />

            <div class="form-group mt-4">
                <label class="col-lg-4 control-label">
                    Numero de serie
                </label>
                <div class="col-lg-6">
                    <input id="nmMateria" class="cts_forms form-control" asp-for="@Model.NumeroDeSerie!.NumeroSerie" />
                </div>
            </div>
            <div class="form-group mt-4">
                <label class="col-lg-4 control-label">
                    Libro
                </label>
                <div class="col-lg-6">
                    <select asp-for="@Model.NumeroDeSerie.Libro" class="form-select">
                        @if (Model.Libros == null || Model.Libros.Count == 0)
                        {
                            <option value="">No hay Libros disponibles</option>
                        }
                        else
                        {
                            @foreach (var Libro in Model.Libros)
                            {
                                <option value="@Libro.Id">
                                    @Libro.Nombre
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Guardar" asp-page-handler=@(Model.VentanaActual ==
                                                                        lib_dominio.Nucleo.Enumerables.Ventanas.Editar ? "Modificar" : "Crear") class="btn btn-primary" />
            <a href="/Ventanas/NumerosDeSerie" class='btn btn-danger'>Cancelar</a>
        </div>
    </form>
</div>
}